.div-fundo-home {
  padding: 20px;
  margin: 7%;
  margin-top: 5%;
}

.text-cadastro {
  color: #fff;
  font-size: 2.3rem;
  font-weight: bold;
}

.div-fundo-content-home {
  display: flex;
  justify-content: space-between;
}

.text-home {
  color: #0ec46f;
  font-size: 2.4rem;
  margin-bottom: 10%;
  margin-top: 9%;
  font-weight: bold;
  text-align: center;
}

.img-home {
  width: 100%;
  height: 100%;
  justify-content: center;
}

.child-home {
  width: 100%;
  background-color: #1c3f50;
  border-radius: 20px;
}

.child-home-img {
  width: 100%;
  background-color: #fcfcfc;
}

.child-home + .child-home-img {
  margin-left: 10%;
}

.img-home-content {
  margin-left: 0%;
}
