header {
    background-color: #1C3F50;
    width: 100%;
}

header * {
    display: inline-block;
    vertical-align: middle;
}

img {
    width: 12%;
    height: 12%;
    margin: 20px;
    margin-right: 18%;
}

/* .button-home {
    font-size: 1.3rem;
    background-color: #0EC46F;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
} */

h1 {
    margin: 0;
    font-size: 24px;
    color: #fff;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    text-decoration: none;
}

.nav-item {
    display: inline-block;
    margin-right: 20px;
}

.nav-item a {
    font-size: 1.3rem;
    text-decoration: none;
    color: #fff;
    background-color: #0EC46F;
    padding: 10px 20px;
    border-radius: 10px;
    display: block;
    text-align: center;
}

.nav-item a:hover {
    background-color: #0056b3;
}

.container {
    position: relative;
}

/* @media screen and (max-width: 999px) {
    .nav-item a {
        font-size: 0.5rem;
        padding: 8px 16px;
    }
} */