.div-fundo-cadastrar {
  text-align: center;
  background-color: #1c3f50;
  border-radius: 10px;
  padding: 20px;
  margin: 1%;
  margin-top: 2%;
}

.text-cadastrar {
  color: #fff;
  font-size: 2.3rem;
  margin-bottom: 5%;
  font-weight: bold;
}

.div-fundo-content-cadastrar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.h1-cadastrar {
  color: #fff;
  font-size: 1.5em;
  padding: 10%;
  width: 40%;
  text-align: center;
  margin-left: 20%;
  margin-top: -7%;
}

.text-entrada {
  margin-top: 3%;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  resize: none;
  width: 100%;
  box-sizing: border-box;
}

.button-cadastrar-inst {
  font-size: 1.3rem;
  background-color: #0ec46f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.button-cancelar-inst {
  font-size: 1.3rem;
  background-color: #e02020;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.botao-cadastrar {
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10%;
}

.caixa-texto {
  display: inline-block;
  margin-right: 10px;
  width: 300px;
  height: 40px;
}
