.button-container-consulta {
  display: flex;
  flex-direction: column;
}

.styled-button-consulta {
  background-color: #0ec46f;
  color: #FFF;
  padding: 10px 20px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 20%;
  height: 7rem;
}

.styled-button-consulta:hover {
  background-color: #2980b9;
}

.div-fundo-consulta {
  text-align: center;
  background-color: #1c3f50;
  border-radius: 10px;
  padding: 20px;
  margin: 1%;
  margin-top: 2%;
  margin-bottom: 0%;
}

.div-fundo-consulta {
  text-align: center;
  background-color: #1c3f50;
  border-radius: 10px;
  padding: 20px;
  margin: 1%;
  margin-top: 2%;
  margin-bottom: 0%;
}

.text-consulta-consulta {
  color: #fff;
  font-size: 2.3rem;
  margin-bottom: 2%;
  font-weight: bold;
  margin-top: 3%;
}

.div-fundo-content {
  display: flex;
  justify-content: space-between;
}

.h1-consulta-consulta {
  color: #fff;
  font-size: 1.5em;
  padding: 10%;
  width: 40%;
  text-align: center;
  margin-left: 30%;
  margin-top: -7%;
}

.img-consulta-consulta {
  width: 6rem;
  height: 6rem;
}

.child-consulta-1 {
  width: 50%;
  margin: 1px;
  margin-top: 1%;
  margin-bottom: 9px;
  text-align: center;
}

.child-consulta {
  width: 50%;
  margin: 1px;
  margin-top: 1%;
  margin-bottom: 9px;
  flex: 1;
  text-align: center;
}

.child-consulta-1 + .child-consulta {
  margin-left: -13%;
}

.img-consulta-consulta-content {
  margin-left: 1%;
}

.content-consulta {
  height: auto;
}

.content-consulta-1 {
  height: auto;
  margin-bottom: 10rem;
}

.button-consulta-consulta {
  font-size: 1.3rem;
  background-color: #0ec46f;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.button-consulta:hover {
  background-color: #007bff;
}

.button-consulta:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

